@media (min-width: 768px) {
    .phone-placeholder {
        height: 300px;
    }
}
@media (max-width: 992px) {
    .navbar,.navbar-nav {
        text-align: center;
        background: rgba(9, 9, 10, 0.906);
    }
}
@media (max-width: 768px) {
    .header-device {
        display: none; /* Hide device image on smaller screens */
    }

    .header-content {
        max-width: 100%; /* Full width for text on smaller screens */
        text-align: center; /* Center text on small screens */
    }

    .header {
        padding-left: 20px;
    }
}
